html {
    background-color: #CCE0CA;
}
#contenido {
    display: flex;
    flex-direction: column;
}
#Boton {
    position: fixed;
    width: 47px;
    height: 47px;
    background-color: #000000;
    cursor: pointer;
}

#BotonIn {
    position: relative;
    width: 47px;
    height: 47px;
    background-color: #000000;
}
#menus {
    background-color: #30A522;
    height:93vh;
    width: 0px;
    display: none;
    transition: 0.8s;
}

a {
    text-decoration: none;
}
p.pp1 {
    font-size: 20px;
    color: #000000;
    text-align: center;
    position: static;
    top: 5px;
    font-family: 'Lucida Sans';
    font-weight: bold;
}
.button {
    height: 60px;
    width: 238px;
    background-color: #E4E4E4;
    transition: 0.5s;
    border-radius: 15px;
    position: initial;
    margin-right:40px;
}
#Botones {
    list-style: none;
    position: static;
    margin-left: -20px;
    transition: 1s;


}
.button:hover {
    scale: 1.2;
    background-color: #FFFFFF;
}
html, body{
    height:100%;
    margin:0;
    display: flex;
    flex-direction: column;
  }

#MenuHorizontal {
    position: fixed;
    width: 100vw;
    height: 47PX;
    background-color: #FFFFFF;
}
.cont2 {
    width: 300px;
    height: 420px;
    background-color: #30A522;
    border-radius: 80px;
    cursor: pointer;
}

#content {
    display: flex;
    flex-direction: row;
    height: 92.9vh;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
}
#ContHome {
    display: flex;
    flex-direction: row;
}
h1 {
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
    font-family:'Lucida Sans';
}
.c1 {
    background-image: url(./user.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}
.c2 {
    background-image: url(./login.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}
.c3 {
    background-image: url(./contact.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}


